h1 {
    text-align: center;
}

#sudoku-game {
    text-align: center;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 20px;
    border: 1px solid grey;
}


.topBorder {
    border-top: 2px solid black;
}

.bottomBorder {
    border-bottom: 2px solid black;
}

.leftBorder {
    border-left: 2px solid black;
}

.rightBorder {
    border-right: 2px solid black;

}